<!DOCTYPE html>
<script src="/static/htmx.min.js"></script>
<html>
    <head>
        <title>rufkian</title>
        <link rel="stylesheet" href="/static/my.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Merriweather" type="text/css">
    </head>
    <style>
        div { white-space: pre-wrap; }
    </style>
    <header>
        <h1>rufkian</h1>
        <nav>
        <button class="filled-button" hx-get="/" hx-target="body">История</button>
        <button class="filled-button" hx-get="/dictionary" hx-target="body">Словарь</button>
        <button class="filled-button" hx-get="/user/settings" hx-target="body">Настройки</button>
        </nav>
    </header>
    <main>
        {{embed}}
    </main>
    {{if .rufkian}}
    <footer style="position:fixed; bottom:0; width: 100%;">
        <nav>
            <form>
            <button {{if .userHasKey}}formaction="/call"{{else}}hx-get="/key/insert" hx-target="body"{{end}}>
                Начать звонок
            </button>
            </form>
        </nav>
    </footer>
    {{end}}
</html>
