<!DOCTYPE html>
<script src="/static/htmx.min.js"></script>
<html>
    <head>
        <title>rufkian</title>
        <link rel="stylesheet" href="https://unpkg.com/simpledotcss/simple.css">
    </head>
    <style>
        div { white-space: pre-wrap; }
    </style>

    <header>
        <h1>rufkian</h1>
        <nav>
        <button hx-get="/" hx-target="body">Main screen</button>
        </nav>
    </header>

    <body>
        {{embed}}
    </body>

    <footer>
        <label>Created by <strong><a href='https://step-alex.xyz/'>Golang</a></strong> with ❤️</label>
    </footer>
</html>



