# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary files
*.test

# Output files
*.out

# Go workspace file
go.work

# Dotfiles
.idea/
.vscode/
.env

# Scripts
*scripts/