<script src="/static/htmx.min.js"></script>
<body>
    <h2>Разговор {{.startTime}}</h2>
    <table>
        <tbody>
            {{with .dialog}}
            {{$id := .ID}}
            {{range $line := .Lines}}
                <tr>
	                <td>
	                {{if eq $line.Role "assistant"}}
		                И.И.
	                {{else}}
		                Вы
	                {{end}}
	                </td>
	                <td>
		            {{range $line.Words}}
		                <button hx-get="/dictionary/word/{{.}}" hx-target="body" hx-vals='{"previous_page": "/dialog/{{$id}}"}'>
			                {{.}}
		                </button>
		            {{end}}
	                </td>
                </tr>
            {{end}}
            {{end}}
        </tbody>
    </table>
</body>
    