<body>
    {{$words := .words}}
    {{if .empty}}
    <p>Словарь пуст</p>
    {{else}}
    <nav>
        <a class="button-like" style="text-decoration:none" href="/dictionary/apkg" download>Экспортировать для Anki</a>
        <button hx-get="/dictionary/apkg/instruction" hx-target="body">?</button>
    </nav>
    <table>
        <tbody>
            {{range $words}}
            <tr hx-get="/dictionary/{{.}}" hx-target="body" hx-vals='{"previous_page": "/dictionary"}'>
                <td>{{.}}</td>
            </tr>
            {{end}}
        </tbody>
    </table>
    {{end}}
</body>