<body>
    <h3>Инструкция по использованию файла .apkg</h3>
    <p>
        Файл apkg представляет собой экспортированную коллекцию слов из программы Anki, которая используется для запоминания и изучения информации с помощью карточек.
    </p>
    <h4>
        Шаги по использованию файла apkg:
    </h4>
    <ol>
        <li>
            <strong>Скачивание файла:</strong>
            Скачайте файл apkg на ваше устройство.
        </li>
        <li>
            <strong>Установка Anki:</strong>
            Если у вас еще не установлена программа Anki, скачайте и установите ее с
            официального сайта <b>apps.ankiweb.net</b>.
        </li>
        <li>
            <strong>Импорт файла:</strong>
            <ol type="a">
                <li>Откройте программу Anki.</li>
                <li>Перейдите в меню "Файл" и выберите "Импорт".</li>
                <li>Найдите и выберите скачанный файл apkg, затем нажмите "Открыть".</li>
            </ol>
        </li>
        <li>
            <strong>Начало изучения:</strong>
            После успешного импорта коллекция слов появится в вашем списке колод.
            Выберите колоду и начните изучение.
        </li>
    </ol>
    <p>Теперь вы готовы использовать импортированную коллекцию слов для изучения и запоминания!</p>
</body>