<body>
    <p>
        Чтобы создать ключ доступа к Mistral AI:
    </p>
    <ol>
        <li>Cоздайте аккаунт Mistral или войдите в него на сайте console.mistral.ai.</li>
        <li>Перейдите на страницу "API Keys" – кнопка для перехода находится с левой стороны экрана</li>
        <li>Создайте новый API ключ, нажав оранжевую кнопку "Create new key"</li>
        <li>Подтвердите создание ключа, повторно нажав "Create new key" во всплывшем окне</li>
        <li>Скопируйте созданный ключ, нажав оранжевую кнопку "Copy key"</li>
    </ol>
    <form hx-put="/user">
        <br><label for="key">Ключ API Mistral</label>
        <br><input type="text" id="key" name="key">
        <br><br>
        <button type="submit">Добавить</button>
    </form>
    <p id="result"></p>
</body>