<script src="/static/htmx.min.js"></script>

<body>
    <h2>
        Настройки
    </h2>

    <form hx-put="/user">
        <br><label for="email">Email</label>
        <br><input type="text" id="email" name="email" placeholder={{.email}}>
        <br><label for="password">Пароль</label>
        <br><input type="password" id="password" name="password">
        <br><label for="key">Ключ API Mistral</label>
        <br><input type="text" id="key" name="key">
        <br><br>
        <button type="submit">Обновить настройки</button>
    </form>

    <br><div id="result"></div><br>

    <button hx-delete="/auth">
        Выйти из аккаунта
    </button>
</body>
    
