<body>
    <form hx-put="/user">
        <label for="email">Email</label>
        <input type="text" id="email" name="email" placeholder={{.email}}>
        <label for="password">Пароль</label>
        <input type="password" id="password" name="password">
        <label for="key">Ключ API Mistral</label>
        <input type="text" id="key" name="key" placeholder="{{.key}}">
        <label for="goal">Ежедневная цель (в минутах):</label>
        <input type="number" id="goal" name="goal" min="0" placeholder="{{.goal}}">
        <button type="submit">Обновить настройки</button>
        <p id="result"></p>
        <button hx-delete="/auth">Выйти из аккаунта</button>
    </form>
</body>